.case3{
    .wrap{
        display: flex;
        .bloco{
            background-color: RGBA(255,255,255,.8);
            margin: .25em;
            padding: 1em;
            width: 30%;
        }
    }
}